In [1]:
# import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
# Load the dataset
file_path = "../data/cleaned_cognitive_decline.csv"
df = pd.read_csv(file_path)

# display the first few rows
df.head()

,Year,Location,Percentage_Value,Low_Confidence_Limit,High_Confidence_Limit,Functional_Difficulties,Needs_Assistance,Cognitive_Decline,Consulted_Professional,q_Interferes_Activities,q_Needs_Assistance,q_Worsening_Decline,q_Consulted_Professional,Small_Sample_Size,No_Data_Available,Regional_Issue,Few_States_Reported,Age_Group,Race_Ethnicity
0,2022,Arizona,31.6,23.5,41.0,1,0,0,0,1,0,0,0,0,0,0,0,Overall,Not Specified
1,2022,Arizona,32.7,22.7,43.3,1,0,0,0,1,0,0,0,1,0,0,0,50-64 years,Hispanic
2,2022,Arizona,19.9,14.0,27.3,1,0,0,0,1,0,0,0,0,0,0,0,65 years or older,"White, non-Hispanic"
3,2022,Arizona,32.7,22.7,43.3,1,0,0,0,1,0,0,0,1,0,0,0,65 years or older,Native Am/Alaskan Native
4,2022,Arizona,32.7,22.7,43.3,1,0,0,0,1,0,0,0,1,0,0,0,Overall,"Black, non-Hispanic"

In [3]:
# get general information about the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22182 entries, 0 to 22181
Data columns (total 19 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Year                      22182 non-null  int64
 1   Location                  22182 non-null  object
 2   Percentage_Value          22182 non-null  float64
 3   Low_Confidence_Limit      22182 non-null  float64
 4   High_Confidence_Limit     22182 non-null  float64
 5   Functional_Difficulties   22182 non-null  int64
 6   Needs_Assistance          22182 non-null  int64
 7   Cognitive_Decline         22182 non-null  int64
 8   Consulted_Professional    22182 non-null  int64
 9   q_Interferes_Activities   22182 non-null  int64
 10  q_Needs_Assistance        22182 non-null  int64
 11  q_Worsening_Decline       22182 non-null  int64
 12  q_Consulted_Professional  22182 non-null  int64
 13  Small_Sample_Size         22182 non-null  int64
 14  No_Data_Available         22182 non-null  int64
 15  Regional_Issue            22182 non-null  int64
 16  Few_States_Reported       22182 non-null  int64
 17  Age_Group                 22182 non-null  object
 18  Race_Ethnicity            22182 non-null  object
dtypes: float64(3), int64(13), object(3)
memory usage: 3.2+ MB

In [4]:
# get summary statistics of numerical columns
df.describe()

,Year,Percentage_Value,Low_Confidence_Limit,High_Confidence_Limit,Functional_Difficulties,Needs_Assistance,Cognitive_Decline,Consulted_Professional,q_Interferes_Activities,q_Needs_Assistance,q_Worsening_Decline,q_Consulted_Professional,Small_Sample_Size,No_Data_Available,Regional_Issue,Few_States_Reported
count,22182.000000,22182.000000,22182.000000,22182.000000,22182.000000,22182.000000,22182.000000,22182.000000,22182.000000,22182.000000,22182.000000,22182.000000,22182.000000,22182.000000,22182.000000,22182.000000
mean,2018.617528,31.964480,22.987368,41.990939,0.245379,0.245424,0.263908,0.245289,0.245379,0.245424,0.263908,0.245289,0.266477,0.096249,0.146425,0.038951
std,2.278708,13.333387,10.234771,16.333354,0.430321,0.430348,0.440760,0.430268,0.430321,0.430348,0.440760,0.430268,0.442127,0.294939,0.353540,0.193481
min,2015.000000,0.000000,0.000000,1.800000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2016.000000,27.000000,17.800000,37.300000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2019.000000,32.700000,22.700000,43.300000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,2020.000000,37.700000,27.100000,48.600000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000
max,2022.000000,100.000000,97.100000,100.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [5]:
# get unique values in categorical columns
categorical_columns = df.select_dtypes(include=['object']).columns

for col in categorical_columns:
    print(f"{col}: {df[col].nunique()} unique values")

Location: 57 unique values
Age_Group: 3 unique values
Race_Ethnicity: 6 unique values